<p id="notice"><%= notice %></p>

<h1>Listing Submissions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Hash</th>
      <th>Imageerror</th>
      <th>Size</th>
      <th>Height</th>
      <th>Width</th>
      <th>Page</th>
      <th>Modified</th>
      <th>Folder</th>
      <th>User</th>
      <th>Submission</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.name %></td>
        <td><%= submission.file_type %></td>
        <td><%= submission.hash %></td>
        <td><%= submission.imageError %></td>
        <td><%= submission.size %></td>
        <td><%= submission.height %></td>
        <td><%= submission.width %></td>
        <td><%= submission.page %></td>
        <td><%= submission.modified %></td>
        <td><%= submission.folder %></td>
        <td><%= submission.user %></td>
        <td><%= submission.submission %></td>
        <td><%= link_to 'Show', submission %></td>
        <td><%= link_to 'Edit', edit_submission_path(submission) %></td>
        <td><%= link_to 'Destroy', submission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Submission', new_submission_path %>
